#Footer1_0 .ant-col > .slogan > .l3ju9gka9od-editor_css {
  text-align: center;
}
#Nav0_0 .ant-menu-submenu-title > .header0-item-block > .l3l9s89dvd-editor_css {
  display: none;
}
#Footer1_0 .footer1 > .l3l9tbfdmmr-editor_css {
}
#Footer1_0.l3mih0nq38-editor_css {
  background-image: url('https://zos.alipayobjects.com/rmsportal/gGlUMYGEIvjDOOw.jpg');
  background-attachment: scroll;
  background-blend-mode: normal;
  background-position: 0% 0%;
  background-repeat: repeat;
  background-size: auto;
  background-clip: padding-box;
}
#Nav0_0 .home-page > .l3l3eciw8v9-editor_css {
  height: 65px;
}
#Feature0_0.l3o5xiqyxu6-editor_css {
}
#Banner1_0 .banner-anim > .banner-anim-elem > .l3o6t2d3wzh-editor_css {
  height: 50vh;
}
#Banner1_0 .banner-anim > .banner-anim-elem > .l3o6t8ztka-editor_css {
  height: 50vh;
}
#Banner1_0 .banner-anim > .banner-anim-elem > .l3o6thd7usd-editor_css {
  height: 50vh;
}
#Banner1_0 .banner1-wrapper > .banner-anim > .l3o6tla382h-editor_css {
  height: 50%;
}
#Banner1_0 .banner1-wrapper > .l3o6tr7anmt-editor_css {
  height: 50vh;
}
#Banner1_0 .l3o6tr7anmt-editor_css > .banner-anim-elem > .bg {
  height: 50vh;
}
#Banner1_0 .banner1-wrapper > .l3o6tr7anmt-editor_css > .l3o6t68teu-editor_css {
  height: 50vh;
}
#Banner1_0.l3o6uwbkkaa-editor_css {
  height: 50vh;
}
#Content12_2 .home-page > .title-wrapper > .l3o7129egmc-editor_css {
}
#Feature0_0 .content0-block-item > div > .l3o73v7jdwk-editor_css {
  border-top-color: #d9d9d9;
}
#Content12_2 .l3oai8yhg-editor_css {
  background-color: rgba(0, 0, 0, 0);
}
#Footer1_0 .l3l9sv8n9q-editor_css {
  background-clip: padding-box;
  line-height: 0.8;
  min-height: 375px;
  background-color: #404040;
}
#Footer1_0 .footer1 > .l3l9os4j5ah-editor_css {
  color: #fbfbfb;
  height: 80%;
  background-color: rgba(0, 0, 0, 0);
}
#Footer1_0 .ant-row > .ant-col > .l3o75lmg7cu-editor_css {
  color: #fbfbfb;
}
#Footer1_0 .ant-col > div > .l3o75np6e6d-editor_css {
  color: #fbfbfb;
}
#Footer1_0 .ant-col > div > .l3o75pvnydh-editor_css {
  color: #fbfbfb;
}
#Footer1_0 .ant-col > div > .l3o75tq0ijb-editor_css {
  color: #fbfbfb;
}
#Footer1_0 .ant-row > .ant-col > .l3o72utit4l-editor_css {
  color: #fbfbfb;
}
#Footer1_0 .ant-col > div > .l3o75bf01tt-editor_css {
  color: #fbfbfb;
}
#Footer1_0 .ant-col > div > .l3o75h7q0xj-editor_css {
  color: #fbfbfb;
}
#Footer1_0 .ant-col > div > .l3o75jpqoig-editor_css {
  color: #fbfbfb;
}
#Banner1_0 .banner-anim-elem > .banner1-text-wrapper > .l3o6yg9k1p-editor_css {
  top: -20px;
  left: 0px;
}
#Banner1_0 .banner-anim-elem > .banner1-text-wrapper > .l3o6yhclb1q-editor_css {
  border-top-width: -10px;
  font-size: 18px;
  clear: right;
  margin: -20px 0 20px;
}
#Banner1_0 .banner-anim-elem > .banner1-text-wrapper > .l3o76tude3u-editor_css {
  font-size: 14px;
  background-color: #f04134;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 0px 15px 4px;
}
#Content12_2 .ant-col > .block-content > .l3oau253axm-editor_css {
  position: relative;
}
#Content12_2 .home-page > div > .l3oao4tiu16-editor_css {
}
#Content12_2 .ant-row > .ant-col > .l3ocj2meblo-editor_css {
}
#Banner1_0
  .l3o6tr7anmt-editor_css
  > .banner-anim-elem
  > .l3o6t2d3wzh-editor_css {
  height: 50vh;
  background-image: url(https://tian-gong-initiative-open.oss-cn-shenzhen.aliyuncs.com/image/%E4%B8%BB%E8%83%8C%E6%99%AF%E5%9B%BE.svg);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-clip: border-box, padding-box;
}
#Nav0_0 .ant-menu-item > .header0-item-block > .l3pu5csulxg-editor_css {
  color: #fbfbfb;
}
#Nav0_0 .ant-menu-item > .header0-item-block > .l3mxgyu2vz-editor_css {
  color: #fbfbfb;
  background-color: rgba(0, 0, 0, 0);
}
#Nav0_0 .header0-menu > .ant-menu > .l3midgxjboi-editor_css {
  background-clip: padding-box;
  color: rgb(34, 34, 34);
  background-color: #222222;
}
#Nav0_0 .header0-menu > .ant-menu > .l3mide2gc3-editor_css {
  background-clip: padding-box;
  color: rgb(34, 34, 34);
  background-color: #222222;
}
#Content12_2 .ant-col > .block-content > .l3sdc1o4xi-editor_css {
  color: #222222;
}
#Nav0_0 .header0-menu > .ant-menu > .l3mid9oclbm-editor_css {
  background-clip: padding-box;
  background-color: rgb(34, 34, 34);
  box-shadow: none;
}
#Nav0_0 .ant-menu-item > .header0-item-block > .l3pu5mtfh1u-editor_css {
  box-shadow: none;
  text-shadow: none;
}
#Content12_2.l3sdhaghhge-editor_css {
  min-height: 300px;
  margin: 0px 0px;
  padding: 0px 0px;
}
#Nav0_0.l3mhnnud77g-editor_css {
  background-clip: padding-box;
  color: #222222;
  background-color: rgb(34, 34, 34);
  box-shadow: none 0 0 undefined;
}
#Nav0_0 .l3mi9fawi4f-editor_css {
  background-clip: padding-box;
  background-color: #222222;
  box-shadow: none 0 0 undefined;
}
#Nav0_0 .home-page > .l3pr66b6au-editor_css {
  background-clip: padding-box;
  background-color: #222222;
}
